body{
  font-family:sans-serif;
}
.center{
  width:300px;
  margin:100px auto;
  display: flex;
  flex-direction: column;
  gap:10px;
}
.layout{
  display: flex;
}
aside{
  width:250px;
  padding:10px;
  border-right: 1px solid #ccc;
}
.card{
  border:1px solid #ddd;
  padding: 10px;
  margin:10px;
}